.mainDiv {
    display: flex;
    place-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ededed;
    height: 100vh;
    width: 100vw;
    margin: auto;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 90px 80px rgba(0, 0, 0, 0.1);
  }
  .rightDiv {
    flex: 0.60;
    height: 100%;
    background-color: rgb(250, 250, 250);
    overflow: scroll;
    
  }
  hr.style6 {
    background-color: #fff;
    border-top: 0.4rem dotted #d1d1d1;
   
    width: 10%;
  }
  hr.container{
    margin-top:5%;
  }
  
  .leftDiv {
    
    flex:0.40;
    height:100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    
    
  }

  .formDiv{
    margin-top: 10%;
   
  }
  .inputfield
  {
    margin-top:10px;
  }

  input[type=text],select {
    width: 65%;
    display:inline;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-color: white;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  
  input[type=text]:focus {
    width: 100%;
    height:50px;
    border-width:thick;
    border-color: white;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
  
  }
  
  

  .half{
    width: 90%;
  }
  